In [12]:
import pandas as pd
url = 'https://data.gov.ru/opendata/7710914971-demograph/data-20151002T0951-structure-20151002T0951.csv'
data = pd.read_csv(url, low_memory=False)

In [13]:
data

,num,region,born_2013,born_2012,born_2012_2013,dead_2013,dead_2012,dead_2013_2012,increase_2013,increase_2012,marriages_2013,marriages_2012,marriages_201_2012,divorce _2013,divorce _2012,divorce _2013_2012,divorce_marriage_2013,divorce_marriage_2013.1
0,1,Российская Федерация,"12,7","12,7",100,"13,5","13,5",100,"-0,8","-0,8","6,8","6,6",103,"4,4","4,3","102,3","656,2","647,5"
1,2,Центральный федеральный округ,"10,9",11,"99,1","14,1","14,1",100,"-3,2","-3,1","6,4","6,2","103,2","4,3",4,"107,5","675,3","655,4"
2,3,Белгородская область,"10,9",11,"99,1","14,4","14,3","100,7","-3,5","-3,3","6,8",6,"113,3","4,8","4,3","111,6","708,7","712,1"
3,4,Брянская область,"10,6","11,1","95,5","16,6","16,5","100,6",-6,"-5,4","6,1","5,6","108,9","4,4","3,9","112,8","719,9","689,4"
4,5,Владимирская область,"10,7","11,3","94,7","16,9","16,9",100,"-6,2","-5,6",6,"5,9","101,7","4,6","4,3",107,"771,5","736,1"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,88,Амурская область,"13,5",14,"96,4","13,9","15,6","89,1","-0,4","-1,6","7,4","7,7","96,1","5,9","5,5","107,3","792,5","713,2"
88,89,Магаданская область,"12,4",12,"103,3",12,"12,9",93,"0,4","-0,9","8,6","8,3","103,6","6,3",7,90,"729,6","839,9"
89,90,Сахалинская область,"12,5",12,"104,2","13,6","13,7","99,3","-1,1","-1,7","7,6","7,5","101,3","5,4","6,4","84,4","714,2","853,7"
90,91,Еврейская автономная область,"13,1","13,3","98,5","15,1","15,9",95,-2,"-2,6","6,8",7,"97,1",5,"4,8","104,2",741,"681,5"
91,92,Чукотский авт.округ,"12,3","13,8","89,1","10,2",12,85,"2,1","1,8","7,8","7,4","105,4","5,1","6,4","79,7","658,2",867

In [19]:
resul = data[data['num'] == 25]

In [20]:
resul

,num,region,born_2013,born_2012,born_2012_2013,dead_2013,dead_2012,dead_2013_2012,increase_2013,increase_2012,marriages_2013,marriages_2012,marriages_201_2012,divorce _2013,divorce _2012,divorce _2013_2012,divorce_marriage_2013,divorce_marriage_2013.1
24,25,Hенецкий авт.округ,"16,2","15,7","103,2","10,3","10,5","98,1","5,9","5,2","7,5",7,"107,1","5,7","4,4","129,5","767,3","625,9"